#tagSingle {
    @media (max-width: 1040px) {
        position: relative;
    }
}

#single {
    .appear {
        opacity: 0;
        transform: translatey(10vh);
    }
    padding-top: 18vh;
    .description {
        position: fixed;
        width: 90%;
        height: 60vh;
        .descriptionInner {
            position: relative;
            height: 60vh;
            max-width: 380px;
            width: 90%;
            h2 {
                div {
                    span {
                        position: relative;
                        display: inline-block;
                    }
                }
            }
            .credits {
                // position: absolute;
                bottom: 0;
                left: 0;
                position: absolute;
                padding-bottom: 3vh;
                padding-top: 13vh;
                ul {
                    margin-top: 20px;
                    li {
                        border-bottom: 1px dotted #CACACA;
                        padding: 8px 0;
                    }
                }
                p,
                li,
                a,
                .see,
                span {
                    font-weight: 100;
                    line-height: 1.6em;
                    font-size: 14px;
                    a {
                        display: inline-block;
                    }
                    .plane {
                        font-size: 19px;
                        left: 8px;
                        position: relative;
                        opacity: 0.8;
                        top: 1px;
                    }
                }
                @media (max-width:1040px) {
                    position: relative;
                    padding-top: 3vh;
                }
                @media (max-height:850px) {
                    position: relative;
                    padding-top: 3vh;
                }
            }
        }
        @media (max-width:1040px) {
            position: relative;
            height: auto;
            width: 100%;
            .descriptionInner {
                height: auto;
                margin-bottom: 5vh;
                max-width: 500px;
                width: 100%;
            }
        }
    }
    .media-container {
        width: 55%;
        float: right;
        position: relative;
        left: 10px;
        .media {
            height: auto;
            width: 100%;
            display: block;
            margin-bottom: 15px;
            img,
            video {
                width: 100%;
                display: block;
                -webkit-transform: translateZ(0);
            }
            &:last-of-type {
                margin-bottom: 0px;
            }
        }
        @media (max-width:1040px) {
            float: none;
            width: 100%;
            max-width: 1200px;
            left: 0;
        }
    }
    .fake-footer {
        font-size: 13px;
        padding-top: 4vh;
        padding-bottom: 4vh;
        opacity: 0.5;
        //font-weight:100;
    }
}

.next {
    font-size: 20vh;
    position: fixed;
    right: 0;
    top: 50%;
    margin-top: -10vh;
    transform: translateX(100%);
    padding-right: 4vw;
    span {
        font-size: inherit;
        border-bottom: 2vh solid;
        font-weight: bold;
    }
}

.ipad {
    @media only screen and (orientation: landscape) {
        #single {
            .description {
                position: absolute;
            }
             .fake-footer  {
                position: fixed;
                bottom: 0;
            }
        }
    }
}

.mobile {
    footer {
        display: none;
    }
    .fake-footer {
        @media (max-width: 360px) {
            font-size: 11px!important;
        }
    }
}
