//home
#home {
    h1 {
        transform: translatey(-10vh);
    }
    .appear {
        opacity: 0;
        transform: translatey(-10vh);
    }
    height: 53vh;
    padding-top: 18vh;
    display: flex;
    padding-left: 5%;
    position: absolute;
    top: 0;
    .link {
        height: 53vh;
        padding-right: 10px;
        display: inline-table;
        text-decoration: none;
        cursor: pointer;
        img {
            height: 53vh;
            width: auto;
            display: inline-block;
        }
        p {
            padding-left: 0%;
            font-size: 14px;
            padding-top: 40px;
            font-weight: normal;
            .role {
                font-weight: 100;
                font-style: italic;
            }
            @media (max-width:680px) {
                .role {
                    display: block;
                    padding-top: 5px;
                }
                span {
                    display: none;
                }
            }
        }
        &:last-child {
            padding-right: 0px;
        }
        a {
            opacity: 0;
            visibility: hidden;
        }
    }
}

.mobile {
    #home .link {
        img {
            height: 38vh;
        }
    }
}

.ball {
    position: absolute;
    width: 5vw;
    height: 5vw;
    z-index: 10;
    top: 50%;
    margin-top: -2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    .ball-inner {
        width: 20px;
        height: 20px;
        background-color: red;
        border-radius: 1000px;
        position: relative;
        h2 {
            content: 'drag the red dot to start';
            position: absolute;
           // transform: rotate(-90deg);
            //transform-origin: left;
            opacity: 0.5;
            width: 100vw;
            /* text-transform: uppercase; */
            left: 2.5vw;
            top: -18px;
            letter-spacing: 0.2px;
            font-size: 40px;
            padding-top: 0px;
            opacity: 0;
        }
        
    }


}
