//@import url(https://fonts.googleapis.com/css?family=Roboto:400,300italic,400italic,500,100,700,500italic,300,100italic);

/*color*/
$body-bg: #fff;
$text-color: #000;
$brand-color: #000;

/*font*/
$font-family-base: sans-serif ;//'Arial', sans-serif;//"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
$font-size: 14px;

/*media queries*/
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

/*container*/
$max-width-container : 2400px;

