//header
header {
    position: fixed;
    z-index: 6;
    width: 100%;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
        #logo {
            font-size: 17px;
            font-weight: 600px;
        }
        #menu {
            display: flex;
            padding-right: 0vw;
            li {
                margin-left: 40px;
                @media (max-width: 1040px) {
                    margin-left: 4vw;
                }
                a {
                    text-transform: lowercase;
                    font-size: 13px;
                }
            }
        }
    }
}

.ball {
    position: fixed;
    width: 5vw;
    height: 5vw;
    z-index: 10;
    top: 50%;
    margin-top: -2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    //cursor: -webkit-grab!important;
    cursor: grab!important;
    cursor: -webkit-grab!important;
    .ball-inner {
        width: 13px;
        height: 13px;
        background-color: red;
        border-radius: 1000px;
        position: relative;
        opacity: 0;
        transform: scale(2) translateY(-20px);
    }
    &.grab {
        cursor: -webkit-grabbing!important;
        cursor: grabbing!important;
    }
}

.msg {
    position: fixed;
    top: 45%;
    padding-top: 0px;
    padding-left: 5vw;
    transform: translateY(-50%);
    margin-top: -0.35vh;
    opacity: 0;
}

.mobile {
    .ball {
        display: none;
    }
    .msg {
        display: none;
    }
    @media (max-width: 360px) {
        #menu li a {
            font-size: 12px!important;
        }
        #logo {
            font-size: 15px;
        }
    }
}

.ipad {
    .ball {
        left: 4.5vw;
        .ball-inner {
            width: 4.5vw;
            height: 4.5vw;
        }
    }
    .msg {
        padding-left: 12vw;
        margin-top: -0.1vh;
    }
    .home-first {
        .ball {
            // top:-50%!important;
        }
    }
}
