
//footer
footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    //display:none;
    
    z-index: 5;
    .container {
        position: relative;
        justify-content: space-between;
        display: flex;
        p {
            font-size: 13px;
            padding-bottom: 4vh;
            opacity: 0.5;
            //font-weight:100;
        }
        div {
            height: 16px;
            width: 16px;
            right: 0;
            position:relative;
            opacity: 0.3;
           // transition: .3s ease-out;
            //display:none;
            a {
                position: absolute;
                width: 100%;
                display: block;
                img {
                    width: 100%;
                    height: auto;
                    display: block;
                    position: absolute;
                    opacity:0;


                    &:first-child {
                            opacity: 1;

                    }

                    &.w {
                        opacity:1;
                    }
                }
            }

            &:hover {
             //   opacity: 1;
            }
        }
    }

    @media (max-width:1040px) {
       // position: relative;
       opacity: 0;
    }
    
   // padding-top: 25px;
}

.mobile {
    footer {
        opacity:1;
    }
}

.ipad {
    footer {
        opacity:1!important;
    }

    .page-switch {
        display: none!important;
    }
}
