//home
#full {
    .appear {
        opacity: 0;
        transform: scale(0.95);
    }

    h1 {
        transform: translatey(10vh);
    }
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    .wrap-full {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        .wrap-a {
            position: absolute;
            width: 100vw;
            height: 100vh;
            left: 100vw;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            width: 100vw;
            .wrap-fix {
                width: 100vw;
                position: absolute;
                left: 0;
                height: 100vh;
                top: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                .el {
                    width: 56vw;
                    max-width: 1200px;
                    top: 0;
                    left: 0;
                    display: block;
                    background: white;
                    position: relative;
                    z-index: 1;


                    img {
                        display: block;
                        width: 100%;
                        height: auto;
                    }
                    p {
                        padding-top: 10px;
                        font-size: 17px;
                        padding-top: 20px;
                        font-weight: normal;
                        text-align: right;
                        .role {
                            font-weight: 100;
                            //  font-style: italic;
                            font-size: 13px;
                            display: block;
                            padding-top: 5px;
                        }
                    }
                }
                .next {
                    position: absolute;
                    width: 100vw;
                    height: 100vh;
                    top: 0;
                   // cursor: move;
                    left: 0;
                }
            }
            &.active {
                z-index: 2;
                left:0vw;
                //width: 50vw;
            }
        }
    }
}
